<div class="orders-container">
  <h2>My orders:</h2>
  <div>
    <form [formGroup]="searchForm">
      <input
        matInput
        formControlName="search"
        type="email"
        placeholder="Search"
      />
      <button (click)="search()" [disabled]="searching">Search</button>
    </form>
  </div>
  <div>
    <div *ngFor="let order of orders" class="order-card">
      <div>Order: {{ order.id }}, made on: {{ order.createDate | date }}</div>
      <div>
        <ul *ngFor="let product of order.products">
          <li>
            {{ product.title }} | {{ product.price | currency }} X
            {{ product.quantity }} | Total:
            {{ product.quantity * product.price | currency }}
          </li>
        </ul>
      </div>
      <div>Total: {{order.total| currency}}</div>
    </div>
  </div>
</div>
