<div class="cart-container">
  <h2>My Cart</h2>
  <hr />
  <div class="products-list">
    <div class="products-table">
      <div class="products-card" *ngFor="let product of product$ | async; trackBy: trackById">
        <div class="img-container">
          <img [src]="product.image" [alt]="product.title" />
        </div>
        <div class="center" colspan="2">
          <span class="title">{{ product.title }}</span>
          <span class="description">{{ product.description }}</span>
        </div>
        <div>
          <div class="quantity-container">
            <button (click)="removeFromCart(product.id)" mat-flat-button color="primary">-</button>
            <input type="text" [value]="product.quantity" disabled />
            <button (click)="addToCart(product)" mat-flat-button color="primary">+</button>
          </div>
        </div>
        <div class="total-container">
          <span class="total">{{
            product.quantity * product.price | currency
          }}</span>
        </div>
      </div>
    </div>
    <div class="total-summary">
      <div>
        <div class="summary-item">
          <div>
            <mat-icon
              aria-hidden="false"
              aria-label="Example home icon"
              fontIcon="local_shipping"
            ></mat-icon>
          </div>

          <div>
            <p>
              <span class="label">Shipping</span>
              <span class="val">{{ fakeAdress }} <a>(change)</a></span>
            </p>
          </div>
        </div>

        <hr />
      </div>
      <div>
        <div class="summary-item">
          <div>
            <mat-icon
              aria-hidden="false"
              aria-label="Example home icon"
              fontIcon="credit_card"
            ></mat-icon>
          </div>

          <div>
            <p>
              <span class="label">Payment method</span>
              <span class="val">Mastercard ending in 1234 <a>(change)</a></span>
            </p>
          </div>
        </div>
        <hr />
      </div>


      <div class="total-container">
        <div class="total">
          <span class="label">Subtotal</span>
          <span class="value">{{
            totalQuantityOfItems$ | async | currency
          }}</span>
        </div>
        <div class="total">
          <span class="label">Shipping</span>
          <span class="value">Free</span>
        </div>
        <div class="total">
          <span class="label">Discount</span>
          <span class="value">none</span>
        </div>
        <hr />
        <div class="total">
          <span class="total-label">total</span>
          <span class="total-value">{{
            totalQuantityOfItems$ | async | currency
          }}</span>
        </div>
        <form [formGroup]="userForm">
          <div class="form-container">
            <mat-form-field class="form-field">
              <input
                matInput
                placeholder="Email"
                type="email"
                formControlName="email"
              />
              @if (userForm.get('email')?.invalid) {
              <mat-error *>
                {{ userForm.get("email")?.errors }}
              </mat-error>
              }
            </mat-form-field>

            <mat-form-field class="form-field">
              <input
                matInput
                placeholder="Name"
                type="name"
                formControlName="name"
              />
            </mat-form-field>
            <div>
              <button [disabled]="userForm.invalid" (click)="placeOrder()" mat-flat-button color="primary">Place Order</button>
            </div>
          </div>
        </form>


      </div>
    </div>
  </div>
</div>
