
.main{
  padding-bottom: 2rem ;
}
.card-grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1.5rem;
  @media screen  and (max-width: 780px) {
    grid-template-columns: 1fr 1fr 1fr;
  }
  @media screen  and (max-width: 560px) {
    grid-template-columns: 1fr 1fr;
  }
  @media screen  and (max-width: 450px) {
    grid-template-columns: 1fr;
  }
  // width: 100vw;
  // height: 100vh;
}
